/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: 'Overpass', sans-serif;
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
nav {
  background: #0364adee;
  height: 80px;
  width: 100%;
}
nav label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
nav ul li a.active,
nav ul li a:hover {
  background: #faf173;
  color: #0364adee;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
/*@media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }*/
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #303b5ff1;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0364adee;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}
footer {
  background: #0364adee;
  height: 6.5rem;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
footer a {
  color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
footer a.active,
footer a:hover {
  color: #faf173;
  transition: 0.5s;
}
.copyright {
  font-size: 1rem;
}
section {
  color: white;
  display: flex;
  justify-content: center;
}
section h1 {
  font-size: 3rem;
}
section h2 {
  font-size: 1.7rem;
}
section div.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}
.btn {
  width: 12.5rem;
  height: 3.75rem;
  font-weight: bold;
  background: none;
  border: 4px solid;
  color: #0364adee;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  padding-top: 5%;
  padding-left: 20%;
}
.btn::before,
.btn::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: #353b48;
  transform: skewX(50deg);
  transition: 0.4s linear;
}
.btn::before {
  top: -4px;
  left: 10%;
}
.btn::after {
  bottom: -4px;
  right: 10%;
}
.btn:hover::before {
  left: 80%;
}
.btn:hover::after {
  right: 80%;
}
div.staff {
  display: grid;
  grid-template-columns: 35% 35% 35%;
  grid-gap: 1em;
}
div.staff .staff-wrapper {
  background: #0364adee;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  margin: 2%;
  padding: 1%;
  height: 23vh;
  box-shadow: 2px 2px;
}
div.staff .staff-wrapper img {
  border-radius: 50%;
  max-width: 220px;
  margin-bottom: 2%;
  margin-top: 2%;
  border: 1px solid white;
  box-shadow: 2px 2px;
}
