/* FONTS

HEADINGS
font-family: 'Bangers', cursive;

TEXT / PARAGRAPHS
font-family: 'Poppins', sans-serif;

MENU
font-family: 'Bebas Neue', cursive;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
html {
  font-size: 62.5%;
}
.header #head-banner {
  width: 100%;
  height: 50%;
}
.header .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1%;
}
.header .navigation .nav-item a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-family: 'Bebas Neue', cursive;
}
.body-container {
  margin-top: 1%;
  width: 100%;
  height: 1000px;
}
.body-container .top-section {
  width: 100%;
  height: 43%;
  background-image: url("/img/shadow-man.jpg");
  background-size: 745.5px 419px;
  /* 1489 838 ORIGINAL SIZE*/
  background-repeat: no-repeat;
  border: red 1px solid;
  display: flex;
  flex-direction: row;
}
.body-container .top-section .top-left {
  border: 1px red solid;
  width: 35%;
  background-color: transparent;
}
.body-container .top-section .top-right {
  border: 1px red solid;
  width: 65%;
  flex-direction: column;
}
.body-container .top-section .top-right .three-way {
  height: 33.3%;
  border: 1px red solid;
}
