section{
    color: @font-color; 
    display: flex;
    justify-content: center;
    h1{
        font-size: 2.8rem;
        font-weight: bold;
        padding-left: 5%;
        text-shadow: 4px 4px #000000; 
    }
    h2{
        font-size: 1.6rem;
        padding-left: 5%;
        text-shadow: 4px 4px #000000;
    }
    div.container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1%;
    }
    div.wrapper{
      display: flex;
      flex-direction: column;
      justify-content:center;
      background: @nav-background;
      border-radius: 5px;
      min-width: 20.5rem;
      max-width: 30.5rem;
      height:18vh;
      width: 30vw;
      a{
        align-self: center;
        margin-top: 5%;
      }
    }
  }
  .btn{
    width: 12.5rem;
    height: 3.75rem;
    font-weight: bold;
    background: none;
    border: 4px solid;
    color: @font-color;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    padding-top: 15px;
    padding-left: 40px;
    text-shadow: 4px 4px #000000;
  }
  
  .btn::before,.btn::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background: #353b48;
    transform: skewX(50deg);
    transition: .4s linear;
  }
  
  .btn::before{
    top: -4px;
    left: 10%;
  }
  
  .btn::after{
    bottom: -4px;
    right: 10%;
  }
  
  .btn:hover::before{
    left: 80%;
  }
  
  .btn:hover::after{
    right: 80%;
  }
  div.staff{
    display: grid;
    grid-template-columns: 40% 40% 40%;
    grid-gap:1em;
    @media (max-width: 858px){  
    grid-template-columns: none;  
    .flexColumn;
    }
    H1{
      @media (max-width: 858px){
        margin: 2%;
      }
    }
    .staff-wrapper{
      background: @nav-background;
      border-radius: 5px;
      .flexColumn;
      align-items: center;
      font-size: 1.4rem;
      margin: 2%;
      padding: 1%;
      height: 24vh;
      box-shadow: 2px 2px;
      @media (max-width: 858px){
        font-size: 1.25rem;
        width: 22rem;
        margin: 2%;
      }
      img{
        border-radius: 50%;
        max-width: 220px;
        margin-bottom: 2%;
        margin-top: 4%;
        border: 1px solid white;
        box-shadow: 2px 2px;
      }
    }
  }
  div.content-wrapper{
    .flexColumn;
    justify-content: space-around;
    background: @nav-background;
    border-radius: 5px;
    min-width: 20.5rem;
    max-width: 30.5rem;
    height: fit-content;
    box-shadow: 2px 2px;
    .box-sizing;
    p{
      .box-sizing
    }
    img{
      max-width: 95%;
      .box-sizing;
      border-radius: 10px;
    }
  }

section.staff{
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 858px){
    height: auto;
  }
}
