.header {


    #head-banner {
        width: 100%;  
        height: 50%;              
    }
        
    .navigation {
        display: flex;
        // border: 1px red solid;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 1%;
        

        .nav-item a{
            text-decoration: none;
            color: white;
            font-size: 3.2rem;
            font-family: 'Bebas Neue', cursive;
            animation-name: anchor-colors;
            animation-duration: 5s;
            animation-iteration-count: infinite;

        }
    }
}

/* ANCHOR KEYFRAME ANIMATION */

@keyframes anchor-colors {
    50% {
        color: @mermaidblue;
    }
    100% {
        color: @papaya;
    }
}